language: go
go: 
  - 1.7.3
  - tip

before_install:
  - sudo add-apt-repository ppa:masterminds/glide -y
  - sudo apt-get update -q
  - sudo apt-get install glide -y

install: make tools

script: make travis
